<div class="userShow wrapper">
  <div class="userShow_myPage">
    <h1 class="title">マイページ</h1>
    <div class="userShow_myPage_show">
      <ul>
        <li>--- ユーザーネーム ---</li>
        <li><%= @user.user_name %></li>
      </ul>
      <% if @user == current_user %>
      <ul>
        <li>--- 名前 ---</li>
        <li><%= @user.last_name %> <%= @user.first_name %></li>
      <ul>
        <li>--- 名前（カナ） ---</li>
        <li><%= @user.last_name_kana %> <%= @user.first_name_kana %></li>
      </ul>
      <% end %>
      <ul>
        <li>--- 都道府県 ---</li>
        <li><%= @user.prefectures %></li>
      </ul>
      <% if @user == current_user %>
        <%= link_to "編集", edit_user_path, class: "link" %>
      <% end %>
    </div>
  </div>
  <div class="userShow_myPost">
    <h1 class="title">投稿一覧</h1>
    <div class="userShow_myPost_show">
      <% @posts.each do |post| %>
        <%= link_to post_path(post.id) do %>
          <div class="userShow_myPost_show_box">
            <% if post.post_images.present? %>
              <% post.post_images.first(1).each do |image| %>
                <%= attachment_image_tag image, :image, :fill, 240, 240 %>
              <% end %>
            <% else %>
              <%= image_tag 'no_image.jpg', :width => '240', :height => '240'%>
            <% end %>
            <p><%= post.title %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</div>