<div class="userShow wrapper">
  <div class="userShow_myPage">
    <h1 class="title">マイページ</h1>
    <div class="userShow_myPage_show">
      <div class="userShow_myPage_show_field">
        <p>--- ユーザーネーム ---</p>
        <%= @user.user_name %>
      </div>
      <div class="userShow_myPage_show_field">
        <p>--- 名前 ---</p>
        <%= @user.last_name %> <%= @user.first_name %>
      </div>
      <div class="userShow_myPage_show_field">
        <p>--- 名前（カナ） ---</p>
        <%= @user.last_name_kana %> <%= @user.first_name_kana %>
      </div>
      <div class="userShow_myPage_show_field">
        <p>--- 都道府県 ---</p>
        <%= @user.prefectures %>
      </div>
      <div class="userShow_myPage_show_button">
        <%= link_to "編集", edit_user_path, class: "button" %>
      </div>
    </div>
  </div>
  <div class="userShow_myPost">
    <h1 class="title">投稿一覧</h1>
    <div class="userShow_myPost_show">
      <% @posts.each do |post| %>
      <div class="userShow_myPost_show_box">
        <% if post.post_images.present? %>
          <% post.post_images.first(1).each do |image| %>
            <%= link_to post_path(post.id) do %>
              <%= attachment_image_tag image, :image, :fill, 180, 180 %>
            <% end %>
          <% end %>
          <% else %>
            <%= image_tag 'no_image.jpg', width: '75%', height: '85%' %>
        <% end %>
        <p class="link"><%= post.title %></p>
      </div>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</div>