<div class="form">
  <h1 class="form_title">パスワードをお忘れですか?</h1>
  <div class="form_post">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text_field" %>
      </div>
      <%= f.submit "パスワードをリセットする" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>