<div class="top">
  <div class="top_header wrapper">
    <%= link_to root_path do %>
      <%= image_tag 'logo2.png', class: "top_header_logo" %>
    <% end %>
    <nav class="top_header_nav">
      <ul>
        <li>
          <%= link_to "新規登録", new_user_registration_path, class: "link" %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path, class: "link" %>
        </li>
        <li>
          <%= link_to "お問い合わせ", new_inquiry_path, class: "link" %>
        </li>
      </ul>
    </nav>
  </div>
  <div class="top_heading">
    <h2>
      偉人達が歩いた道を</br>
      私達も歩いてみよう
    </h2>
  </div>
</div>