<%= link_to new_post_path do %>
  <button>新規投稿</button>
<% end %>

<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <h4>タイトル</h4>
  <%= post.title %>
  <h4>場所</h4>
  <%= post.address %>
  <h4>感想</h4>
  <%= post.text %>
  <h4>画像</h4>
  <% if post.post_images.present? %>
    <% post.post_images.first(1).each do |image| %>
      <%= attachment_image_tag image, :image, :fill, 200, 200 %>
    <% end %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: '200×200' %>
  <% end %>
<% end %>
<%= link_to "他の投稿を見る", posts_path %>