<div class="top">
  <div class="top_header wrapper">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', class: "logo" %>
    <% end %>
    <nav class="top_header_nav">
      <ul>
        <li>
          <%= link_to new_user_registration_path, class: "link" do %>
            <p>新規登録</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path, class: "link" do %>
            <p>ログイン</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_inquiry_path, class: "link" do %>
            <p>お問い合わせ</p>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
  <div class="top_heading">
    <h2>
      偉人達が歩いた道を</br>
      私達も歩いてみよう
    </h2>
  </div>
</div>