<div class="newPost_index_box" id="pagenate">
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <div class="box_items">
        <% if post.post_images.present? %>
          <% post.post_images.first(1).each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 300, 300 %>
          <% end %>
        <% else %>
          <%= image_tag 'no_image.jpg' %>
        <% end %>
        <p><%= post.title %></p>
      </div>
    <% end %>
  <% end %>
</div>
<%= paginate @posts, remote: true %>
<!-- 新規投稿時 画面移動先 -->
<p id="saikabu"></p>