<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <div class="star-group">
    <div class="detail-review">評価</div>
    <div class="detail-value", id="star-comf-<%= post.id %>"></div>
    <div class="eval-star"><%= post.rate %>/5点</div>
  </div>
  <h4>投稿者</h4>
  <%= post.user.user_name %>
  <h4>タイトル</h4>
  <%= post.title %>
  <h4>場所</h4>
  <%= post.address %>
  <h4>感想</h4>
  <%= post.text %>
  <h4>画像</h4>
  <% if post.post_images.present? %>
    <% post.post_images.each do |image| %>
      <%= attachment_image_tag image, :image, :fill, 200, 200 %>
    <% end %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: '200×200' %>
  <% end %>
  <div id="post_<%= post.id %>">
    <%= render 'post', post: post %>
  </div>
  <%= link_to '詳細', post_path(post)%>

  <script>
    $('#star-comf-<%= post.id %>').raty({      //.idでどの評価であるかを取得
      size: 38,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,                             //readOnlyオプションで読み込み専用とする。編集できない。
      score: <%= post.rate %>,              //scoreオプションで評価内容を取得
    });
  </script>
<% end %>