<h1>新規投稿</h1>
<%= form_with model:@post, url: posts_path, local:true do |f|%>
  <div id="star">
    <%= f.label :rate,'乗り心地' %>
  </div>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>場所</h4>
  <%= f.text_field :address %>
  <h4>感想</h4>
  <%= f.text_field :text %>
  <h4>画像</h4>
  <%= f.attachment_field :post_images_images, multiple: true %>

  <%= f.submit '投稿' %>
<script>
$('#star').raty({
  size     : 100,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  scoreName: 'post[rate]',
  half: true,
});
</script>
<% end %>

