<div class="newPost">
  <div class="newPost_main">
    <% if flash[:flash] %>
      <p id="flash">
        <%= flash[:flash] %>
      </p>
    <% elsif flash[:notice] %>
      <p id="notice">
        <%= flash[:notice] %>
      </p>
    <% end %>
    <div class="newPost_form">
      <h1>新規投稿</h1>
      <%= form_with model:@post, url: posts_path, local:true do |f|%>
        <div class="field">
          <%= f.label :title, "タイトル" %><br>
          <%= f.text_field :title, placeholder:'タイトル(15文字以内)', class: "text_field" %>
        </div>
        <div class="field">
          <%= f.label :address, "場所" %><br>
          <%= f.text_field :address, placeholder:'例:松本城', class: "text_field" %>
        </div>
        <div class="field">
          <%= f.label :text, "感想" %><br>
          <%= f.text_area :text, placeholder:'感想を記入してください', class: "text_area" %>
        </div>
        <div id="star" class="field">
          <%= f.label :rate, "評価" %><br>
        </div>
        <div class="field">
          <%= f.label :post_images_images, "画像(複数投稿化)" %><br>
          <%= f.attachment_field :post_images_images, multiple: true %>
        </div>
        <%= f.submit '投稿', class: "button" %>
      <% end %>
    </div>
  </div>
  <div class="newPost_index wrapper">
    <h1 class="title">新規投稿一覧</h1>
    <%= form_with url: search_path, method: :get, class: "keyword_form", local: true do |f| %>
      <%= f.text_field :keyword, placeholder:'例：松本城', value: @keyword, class: "text_field" %>
      <%= f.submit :"検索", class: "keyword_button" %>
    <% end %>
    <div id="pagenate">
      <%= render 'new_index' %>
    </div>
  </div>
</div>

<script>
  $('#star').empty();
  $('#star').raty({
    size     : 100,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[rate]',
    half: true,
  });
</script>