

<h1>投稿詳細</h1>
<div class="star-group">
    <div class="detail-review">評価</div>
    <div class="detail-value", id="star-comf-<%= @post.id %>"></div>
    <div class="eval-star"><%= @post.rate %>/5点</div>
  </div>
投稿者：<%= @post.user.user_name %><br>

タイトル：<%= @post.title %><br>
感想：<%= @post.text %><br>
場所：<%= @post.address %><br>
  <div id="post_<%= @post.id %>">
    <%= render 'post', post: @post %>
  </div>

<% if @post.post_images.present? %>
  <% @post.post_images.each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 200, 200 %>
  <% end %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: '200×200' %>
<% end %>

<h2>コメント一覧</h2>
<% @comments.each do |f| %>
  <div>
    <a href="/users/<%= @post.user.id %>"><%= f.user.user_name %></a>
    <%= f.comment_content %>
  </div>
<% end %>

<%= form_with(model:[@post, @comment], method: :post) do |f| %>
  <%= f.text_area :comment_content %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit "コメント" %>
<% end %>

<%= link_to "編集", edit_post_path %>
<%= link_to "削除", post_path, method: :delete, data: { confirm: 'Are you sure?' } %>

<div id="map"></div>

<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @post.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
<style type="text/css">
  #map { height: 300px;
         width: 50%;}
</style>

  <script>
    $('#star-comf-<%= @post.id %>').raty({      //.idでどの評価であるかを取得
      size: 38,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,                             //readOnlyオプションで読み込み専用とする。編集できない。
      score: <%= @post.rate %>,              //scoreオプションで評価内容を取得
    });
  </script>