<div class="postShow wrapper">
  <div class="postShow_summary">
    <h1 class="title">投稿詳細</h1>
    <div class="postShow_summary_show">
      <div class="star-group">
        <div class="detail-review">--- 評価 ---</div>
        <div class="detail-value", id="star-comf-<%= @post.id %>"></div>
        <div class="eval-star"><%= @post.rate %>/5点</div>
      </div>
      <div class="postShow_summary_show_user">
        <p>--- 投稿者 ---</p>
        <a href="/users/<%= @post.user.id %>"><%= @post.user.user_name %></a>
      </div>
      <div class="postShow_summary_show_title">
        <p>--- タイトル ---</p>
        <%= @post.title %>
      </div>
      <div class="postShow_summary_show_text">
        <p>--- 感想 ---</p>
        <%= @post.text %>
      </div>
      <div class="postShow_summary_show_address">
        <p>--- 場所 ---</p>
        <%= @post.address %>
      </div>
      <div id="post_<%= @post.id %>">
        <%= render 'post', post: @post %>
      </div>
      <% if @post.user == current_user %>
        <%= link_to "編集", edit_post_path %>
      <% end %>
      <div class="postShow_summary_show_images">
        <% if @post.post_images.present? %>
          <% @post.post_images.each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 200, 200 %>
          <% end %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: '200×200' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="postShow_side">
    <div class="postShow_side_box">
      <h1 class="title">地図</h1>
      <div id="map"></div>
    </div>
    <h1 class="title">コメント一覧</h1>
    <div class="postShow_side_userComment">
      <%= form_with(model:[@post, @comment], method: :post) do |f| %>
        <%= f.text_area :comment_content, class: "comment_area", placeholder:'コメント(30文字以内)' %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.submit "コメント", class: "commentButton" %>
      <% end %>
    </div>
    <div class="postShow_side_indexComment">
      <div class="postShow_side_indexComment_slide">
        <% @comments.each do |f| %>
          <div class="postShow_side_indexComment_slide_comment">
            <a href="/users/<%= f.user.id %>"><%= f.user.user_name %></a>
            <%= f.comment_content %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @post.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<script>
  $('#star-comf-<%= @post.id %>').raty({      //.idでどの評価であるかを取得
    size: 38,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,                             //readOnlyオプションで読み込み専用とする。編集できない。
    score: <%= @post.rate %>,              //scoreオプションで評価内容を取得
  });
</script>