<div class="postShow wrapper">
  <div class="postShow_summary">
    <h1 class="title">投稿詳細</h1>
    <div class="postShow_summary_show">
      <ul>
        <li>--- 評価 ---</li>
        <li id="star-comf-<%= @post.id %>"></li>
        <li><%= @post.rate %>/5点</li>
      </ul>
      <ul>
        <li>--- 投稿者 ---</li>
        <li><a href="/users/<%= @post.user.id %>"><%= @post.user.user_name %></a></li>
      </ul>
      <ul>
        <li>--- タイトル ---</li>
        <li><%= @post.title %></li>
      </ul>
      <ul>
        <li>--- 感想 ---</li>
        <li><%= @post.text %></li>
      </ul>
      <ul>
        <li>--- 場所 ---</li>
        <li><%= @post.address %></li>
      </ul>
      <div id="post_<%= @post.id %>">
        <%= render 'post', post: @post %>
      </div>
      <div class="postShow_summary_show_images">
        <% if @post.post_images.present? %>
          <% @post.post_images.each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 200, 200 %>
          <% end %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: '200×200' %>
        <% end %>
      </div>
    </div>
    <% if @post.user == current_user %>
      <%= link_to "編集", edit_post_path, class: "edit_link" %>
    <% end %>
  </div>
  <div class="postShow_side">
    <div class="postShow_side_box">
      <h1 class="title">地図</h1>
      <div id="map"></div>
    </div>
    <h1 class="title">コメント一覧</h1>
    <div class="postShow_side_comment">
      <%= form_with(model:[@post, @comment], method: :post) do |f| %>
        <%= f.text_area :comment_content, class: "commentArea", placeholder:'コメント(30文字以内)' %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.submit "コメント", class: "commentButton" %>
      <% end %>
    </div>
    <div class="postShow_side_indexComment">
      <% @comments.each do |f| %>
        <div class="userComment">
          <a href="/users/<%= f.user.id %>"><%= f.user.user_name %></a>
          <%= f.comment_content %>
        </div>
      <% end %>
    </div>
  </div>
</div>




<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @post.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<script>
$('#star-comf-<%= @post.id %>').empty();
$('#star-comf-<%= @post.id %>').raty({      //.idでどの評価であるかを取得
  size: 38,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  half: true,
  readOnly: true,                             //readOnlyオプションで読み込み専用とする。編集できない。
  score: <%= @post.rate %>,              //scoreオプションで評価内容を取得
});
</script>