<div id="nav_menu" class="side_menu">
  <h2 class="title">メニュー</h2>
  <% if user_signed_in? %>
  <h4>ユーザー：<%= current_user.user_name %></h4>
    <ul>
      <li>
        <%= link_to new_post_path do %>
          <p>新規登録</p>
        <% end %>
      </li>
      <li>
        <%= link_to user_path(current_user.id) do %>
          <p>マイページ</p>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <p>ログアウト</p>
        <% end %>
      </li>
      <li>
        <%= link_to new_inquiry_path do %>
          <p>お問い合わせ</p>
        <% end %>
      </li>
    </ul>
  <% else %>
    <ul>
      <li>
        <%= link_to new_user_registration_path do %>
          <p>新規登録</p>
        <% end %>
      </li>
      <li>
        <%= link_to new_user_session_path do %>
          <p>ログイン</p>
        <% end %>
      </li>
      <li>
        <%= link_to new_inquiry_path do %>
          <p>お問い合わせ</p>
        <% end %>
      </li>
      <li>
        <%= link_to users_guest_sign_in_path, method: :post do %>
          <p>ゲストログイン</p>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>