<!DOCTYPE html>
<html>
  <head>
    <title>Samuraidou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav_slide">
      <% unless current_page?(root_path) %>
        <%= render "layouts/header" %>
      <% end %>
      <%= yield %>
      <% unless current_page?(root_path) %>
        <%= render "layouts/footer" %>
      <% end %>
    </div>

    <%= render "layouts/menu" %>

    <script>
      'use strict';

      $(document).ready(function(){
        $('#open_nav').on('click', function(){
          $('#nav_slide, #nav_manu').toggleClass('show');
        });
      });
    </script>

  </body>
</html>